<div class="list-group">
                                                                            
    <a href="#" class="list-group-item img-se active img-se">
<img title="icon niit" alt="icon" src="https://www.niit.com/india/sites/default/files/2022-07/Vector.png" class="img-responsive img-se img-se">  
Software and Tech
</a>

    <a href="#" class="list-group-item img-se  img-ds">
<img title="icon niit" alt="icon" src="https://www.niit.com/india/sites/default/files/2022-07/database.png" class="img-responsive img-se img-ds">  
Data Science
</a>

    <a href="#" class="list-group-item img-se  img-dm">
<img title="icon niit" alt="icon" src="https://www.niit.com/india/sites/default/files/2022-07/globe.png" class="img-responsive img-se img-dm">  
Marketing
</a>

    <a href="#" class="list-group-item img-se  img-bf">
<img title="icon niit" alt="icon" src="https://www.niit.com/india/sites/default/files/2022-07/dollar-sign.png" class="img-responsive img-se img-bf">  
Banking and Finance
</a>

    <a href="#" class="list-group-item img-se  img-et">
<img title="icon niit" alt="icon" src="https://www.niit.com/india/sites/default/files/2022-07/cpu.png" class="img-responsive img-se img-et">  
Emerging Technologies
</a>

    <a href="#" class="list-group-item img-se  img-f">
<img title="icon niit" alt="icon" src="https://www.niit.com/india/sites/default/files/2022-07/fluent_arrow-trending-lines-24-filled.png" class="img-responsive img-se img-f">  
FinTech
</a>

    <a href="#" class="list-group-item img-se  short-termclr">
<img title="icon niit" alt="icon" src="https://www.niit.com/india/sites/default/files/2022-07/Vector_0.png" class="img-responsive img-se short-termclr">  
Short Term Courses
</a>



</div>
