<h5><u><i>Login Form using Angular material!!</i></u></h5>
<form class="example-form">
<mat-form-field class="example-full-width" appearance="fill">
<mat-label>User Name</mat-label>
<input matInput placeholder="Enter your name" name="usename"
[(ngModel)] ="username">
</mat-form-field> &nbsp;&nbsp;
<mat-form-field class="example-full-width" appearance="fill">
<mat-label>Password</mat-label>
<input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]= "password" autocomplete="on">
</mat-form-field> &nbsp;&nbsp;
<button mat-raised-button color="primary" (click)="submit()">Submit</button> &nbsp;&nbsp;


<button mat-raised-button color="primary" (click)="logout()">logout</button>
<span *ngIf="show"> <button mat-button color="accent">Login success !!</button></span>
    <span *ngIf="!show"> <button mat-button color="accent">Logout success !!</button></span>
</form>
