<h1>PGP IN FULL STACK PRODUCT ENGINEERING</h1>
<h6>12 Course(s) | 52 Sprint(s)
The full stack Product Engineering program is designed to transform you to project ready professional to take up digital project / product assignments. Program prepares you with required knowledge and skills to become a full-stack developer who can combine programming skills, tools and technologies to build end-to-end web application.
</h6>
<div class="black">
    <div *ngFor="let i of animation">
        <div routerLink="/cardview/{{i.id}}"class="card" style="width: 18rem;">
    <img src="../../assets/{{i.url}}.gif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title{{i.name}}</h5>
      <p class="card-text">{{i.id}}Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
  </div>
</div>